* {
    margin: 0;
    padding: 0;
}

.top {
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
}

.block {
    box-sizing: border-box;
    border: 1px solid black;
    min-height: 200px;
}

.regblock {
    padding: 16px;
}

.wrapper {
    min-height: 89vh;
    flex-grow: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    list-style:none;
    text-decoration: none;
    border-radius: 16px;
}

.container {
    margin: 16px;
}

@media  (max-width: 1366px) {
    .menu {
        flex-direction: column;
        align-content: center;
    }
}

@media (max-width: 766px) {
    .top {
        width: 100%;
    }

    .choose {
        min-height: 25px;
        font-size: 16px;
    }

    .header-menu {
        font-size: 16px;
    }

    .header-href {
        font-weight:normal;
    }

    .card.title-card {
        display: grid;
    }
}

.simple-button {
    margin: 5px;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 16px grey, inset 0px 0px 10px black;
    transition-property: width height;
    transition-duration: 500ms;
}

.simple-button:hover {
    box-shadow: 0px 2px 16px black, inset 0px 0px 10px black;
    width: 210px;
    height: 35px;
}

.form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 5px auto;
    padding: 2px 5px;
}



/* HEADER */

.header {
    background: linear-gradient(45deg, navy, white);
    margin-bottom: 10px;
    min-height: 10vh;
}

.header-box {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
}


.header-text-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.header-text {
    font-size: 24px;
    color: white;
    padding: 16px;
    text-shadow: -5px 3px 20px navy;
}

.header-title {
    font-size: 48px;
    color: white;
    font-weight: bold;
    padding: 16px;
    text-shadow: -5px 2px 10px navy;
}

.title-photo {
    width: 200px;
    border: 3px solid grey;
    border-radius: 25px;
    box-shadow: -10px 20px 30px 10px rgb(0 0 0 / 50%);
    margin: 50px;
}

.header-href {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.header-inline-href {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.header-menu {
    font-size: 36px;
}

.menu-container {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center
}

.choose {
    box-sizing: border-box;
    border: 1px solid gray;
    text-decoration: none;
    min-height: 40px;
    opacity: 0.4;
    min-width: 250px;
    font-size: 18px;
    border-radius: 15px;
    background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
    box-shadow: -6px 13px 8px 1px rgb(0 0 0 / 30%), inset 0px -1px 20px 7px rgb(255 255 255 / 50%);
    margin: 3px auto;
    transition-property: min-width;
    transition-duration: 500ms;
}

.choose:hover {
    opacity: 0.8;
    min-width: 300px;
}





/* CONTENT */

.content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    min-height: 50vh;
    background-image: none;
}


.card {
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 10px;
    background: radial-gradient(circle farthest-corner at 250px 30px, aqua, navy);
    width: 300px;
    height: 130px;
    margin: 5px;
    box-shadow: -8px 10px 18px 2px rgb(0 0 0 / 50%);
    opacity: 0.6;
}

.title-card {
    width: 100%;
    height: 50%;
    display: flex;
    margin: 25px auto;
    background: linear-gradient(45deg, navy, white);
    opacity: 1.0;
}

.card:hover {
    box-shadow: -8px 10px 18px 2px black;
    opacity: 1.0;
}

.python-card {
    width: 90%;
    padding: 25px;
}

.mysql-card {
    width: 57%;
    padding: 16px 65px;
}

.git-card {
    width: 60%;
    padding: 27px 61px;
}


.html-card {
    width: 35%;
    padding-top: 12px;
    padding-left: 90px;
}

.button-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ball {
    width: 200px;
    height: 200px;
    border: 1px navy;
    border-radius: 50%;
    background: radial-gradient(circle at 65% 15%, aqua, navy);
    box-shadow: 5px 10px 20px rgb(0 0 0 / 30%), -5px -10px 20px rgb(255 255 255 / 50%);
    margin: 30px;
}



/* FOOTER */

.footer {
    flex-grow: 1;
    align-items: flex-end;
    min-height: 10vh;
    background-color: navy;
    margin-top: 10px;
}

.footer-text {
    color: white;
    text-decoration: none;
    margin: 10px auto;
}

.row {
    display: inline-block;
}

.comet {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    border: 1px solid black;
    transition-property: width, height;
    transition-delay: 200ms;
    transition-duration: 200ms;
}

.comet:hover {
    width: 330px;
    height: 330px;
}



/* Site-samples */

.sample-1-href {
    padding: 16px;
    text-decoration: none;
    color: white;
    font-size: 26px;
    text-align: center;
}

.sample-card {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text {
    padding: 25px;
}